body{
    background-image:url(/image/backg.jpg);
    background-repeat: no-repeat;
    background-size: 150vw 80vw;
}
.logform{
    margin-top: 100px;
    text-align: center;
}
.button{
    text-align: center;
    margin-top: 10px;

}
.logform h1{
    text-align: center;
    color: yellow;
}
.nav{
padding: 10px;
width: 100%;
}
#sin{
    display:inline;
    float:right;
}
#reg{
    display: inline;
    float: right;
}
#up{
    display:inline;
    float: right;
}
.logo{
    margin: auto;
}